---
import Layout from "@/layouts/Layout.astro";
import data from "../mock/data.json";
const essen = data.portfolio.portfolioPage.Essen;
const {title} = Astro.props 
---

<Layout title="Banco Santander">
  <div>
    <h2 class="text-white titles">Essen</h2>
    <div class="flex flex-col gap-3 max-width iframe-style">
      {essen.map((e) => <iframe src={e.url} allowfullscreen />)}
    </div>
  </div>
</Layout>