---
import Layout from "@/layouts/Layout.astro";
import data from "../mock/data.json";

const homeData = data.portfolio.home_images;
const videollamada = data.portfolio.agengarVideollamada;
---

<Layout title="Caprichoso">
  <section>
    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(25rem,1fr))] justify-center gap-6 rounded-md max-width"
    >
      {
        homeData.map((e) => (
          <div class="transition-images-home">
            <a class="max-w-[600px]" href={e.url}>
              <img class="h-auto w-[600px]" src={e.img} alt="imageb banco" />
            </a>
          </div>
        ))
      }
    </div>
    <div
      class="h-[30vh] pt-[10vh] flex justify-center flex-col items-center gap-2"
    >
      <p class="text-white">¿Necesitas un video? Let´s talk</p>
      <a href={videollamada.url} target="_blank" class="a_videollamada"
        >Agenda una videollamada</a
      >
    </div>
  </section>
</Layout>
<style>
  .a_videollamada {
    cursor: pointer;
    background: #4064b6;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    &:hover {
      background: #4b74d3;
    }
  }
</style>
