---
import Layout from "@/layouts/Layout.astro";
import data from "../mock/data.json";
const leviatanData = data.portfolio.portfolioPage.leviatan;
---

<Layout title="Banco Santander">
  <div>
    <h2 class="text-white titles">Leviatan</h2>
    <div class="flex flex-col gap-3 max-width iframe-style">
      {leviatanData.map((e) => <iframe src={e.url} allowfullscreen />)}
    </div>
  </div>
</Layout>
