---
import Layout from "@/layouts/Layout.astro";
import data from "../mock/data.json";
const mankiData = data.portfolio.portfolioPage.manki;
const {title} = Astro.props 
---

<Layout title="Banco Santander">
  <div>
    <h2 class="text-white titles">Manki</h2>
    <div class="flex flex-col gap-3 max-width iframe-style">
      {mankiData.map((e) => <iframe   src={e.url} allowfullscreen />)}
    </div>
  </div>
</Layout>