---
import Layout from "@/layouts/Layout.astro";
import data from "../mock/data.json";
const portfolioData = data.portfolio.portfolioPage.portfolioVideoClips;
---

<Layout title="Portfolio de videoclips">
  <div>
    <h2 class="text-white titles">Portfolio de videoclips</h2>
    <div class="flex flex-col gap-3 max-width iframe-style">
      {portfolioData.map((e) => <iframe src={e.url} allowfullscreen />)}
    </div>
  </div>
</Layout>