.headerCaprichosa{
    height: 15vh;
    
    
    img{
        height: auto;
        width: 200px;
    }
    .section_a{
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-flow: row;
        align-items: center;
        gap: 2rem;
    }
    a{
        color: #fff;
    }
    .section_icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 4rem;
        svg{
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}