:root {
  --lightcolor: #4064b6;
  --darkcolor: #111111;
  --content: "🙅‍ no compatible";
}
body {
  /* background-color: var(--darkcolor); */
}


/* @media (prefers-color-scheme: light) {
  body {
    --content: "🌞 light version";
  }
} */
/* @media (prefers-color-scheme: dark) {
} */
  body {
    background: var(--darkcolor);
    background: rgb(87,124,172);
    background: radial-gradient(circle, rgba(87,124,172,1) -62%, rgba(14,22,33,1) 76%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    ---content: "🌑 dark version";
  }

.max-width {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
a {
  font-family: "Roboto", Sans-serif;
  font-weight: 900;
}

@keyframes mi-animacion-home {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
.iframe-style{
    /* position: relative; */

    iframe{
      /* position: absolute; */
      height: 40vh ;
      /* inset: 0; */
    }
}

.transition-images-home {
  &:hover {
    animation: mi-animacion-home infinite;
    animation-duration: 1s ;
    animation-delay: .1s;
    
  }
}
.titles{
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 3rem;
  font-weight: bold;
}
